# Supabase Database Configuration (Connects Vercel deployment to exact database)
VITE_SUPABASE_URL=https://gndcgttnpxsjufmehgyi.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImduZGNndHRucHhzanVmbWVoZ3lpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MjM5MTMsImV4cCI6MjA5NTI5OTkxM30.N4TQQbIGQfp80iCm8txx72_3XdnJ2HuK6-xQQ1yNJmQ
VITE_SUPABASE_PROJECT_ID=gndcgttnpxsjufmehgyi

# Firebase / Push Notification Configuration
VITE_FIREBASE_API_KEY=AIzaSyCLlihrS6ZeFw3wL_eiHT64abcAG174ISs
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0285472300.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0285472300
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0285472300.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=629993507936
VITE_FIREBASE_APP_ID=1:629993507936:web:43ac0a691ee3dba8454705
VITE_FIREBASE_VAPID_KEY=
